/*--------------------------------------------------------------
  # Error 404
  --------------------------------------------------------------*/
.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-404 img {
    width: 100%;
}

.error-404 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #323232;
    margin-bottom: 0;
}

.error-404 h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #323232;
}

.error-404 .btn {
    color: #fff;
    padding: 8px 30px;
}

.blob {
    background-image: url(../../img/circle-scatter.png);
    background-size: cover;
}
