/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
	padding: 20px 0;
	font-size: 14px;
	transition: all 0.3s;
	border-top: 1px solid #323232;
}

.footer .copyright {
	text-align: center;
	color: #323232;
}

.footer .credits {
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	color: #323232;
}