#sliding-popup {
    bottom: 0;
    width: 100%;
    z-index: 995;
    transition: all 0.3s;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #323232;
    color: white;
    height: auto;
}

