/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.logo {
	line-height: 1;
}

.logo img {
	max-height: 26px;
	margin-right: 6px;
}

.logo span {
	font-size: 1.25rem;
	font-weight: 700;
	color: white;
}

.header {
	transition: all 0.5s;
	z-index: 997;
	height: 60px;
	box-shadow: 0px 2px 10px rgba(110, 110, 110, 0.76);
	background-color: #fff;
	padding-left: 20px;
}

.header .toggle-sidebar-btn {
	font-size: 24px;
	padding-left: 10px;
	cursor: pointer;
	color: white;
}

