/*--------------------------------------------------------------
  # F.A.Q Page
  --------------------------------------------------------------*/
.faq .basic h6 {
	font-size: 18px;
	font-weight: 600;
	color: #4154f1;
}

.faq .basic p {
	color: #6980aa;
}